@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

* {
    box-sizing: border-box;
}

body {
    background: #4fc3f7;
    font-family: "Kode Mono", monospace;
    margin: 0;
    padding: 0;
    width: 100%;
    text-align: center;
}

div {
    color: white;
    font-size: 96px;
    margin-block: 30vh;
    margin-inline: auto;
    max-width: max-content;
}