@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

body {
    background: #4fc3f7;
    font-family: "Kode Mono", monospace;
    margin: 0;
}

div {
    padding: 200px 545px;
    max-width: max-content;
    font-size: 96px;
    color: white;
}